.editorial-index .editorial-index-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 0;
  border-top: 1px solid #dadada;
}

.editorial-index .editorial-index-item:last-child {
  border-bottom: 1px solid #dadada;
}

.editorial-index .editorial-index-number {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-l);
  font-weight: 600;
  line-height: 1;
  opacity: 0.4;
}

.editorial-index .editorial-index-body h3 {
  margin-top: 0;
}

.editorial-index .editorial-index-body p {
  max-width: 70ch;
}

@media (width >= 900px) {
  .editorial-index .editorial-index-item {
    flex-direction: row;
    gap: 40px;
  }

  .editorial-index .editorial-index-number {
    flex: 0 0 80px;
  }

  .editorial-index .editorial-index-body {
    flex: 1;
  }
}
